:root {
  --primary: #000;
  --primary-dark-blue-04: #0d28a6;
  --primary-lime-green-04: #5cb85f;
  --neutral-01: #fff;
  --neutral-02: #d0d0d0;

  font-size: 16px;
  --text-medium: 0.875rem;
  --text-large: 1rem;

  --header-1: 2.25rem;
  --header-2: 1.5rem;

  --font-weight-bold: 700;
  --font-weight-reguler: 400;
  --font-weight-light: 300;
}
body {
  background-color: var(--neutral-01);
  font-family: Helvetica, sans-serif;
  color: var(--primary);
  margin: 0;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-light);
  line-height: 1.25rem;
}

/* text */
.text-hero-bold {
  font-size: var(--header-1);
  font-weight: var(--font-weight-bold);
  line-height: 150%;
}
/* h2 bold tittle */
.h2-bold {
  font-size: var(--header-2);
  font-weight: var(--font-weight-bold);
  line-height: 2.25rem;
}
/* p */
.p-light {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-light);
  line-height: 1.25rem;
}
.p-regular {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-reguler);
  line-height: 1.25rem;
}
.p-bold {
  font-size: var(--text-large);
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
}
.p-regular a {
  text-decoration: none;
  color: var(--primary);
}

.main--margin {
  margin-left: 8.5rem;
  margin-right: 8.5rem;
}
.mt-main {
  margin-top: 6.25rem;
}
.main--padding--lr {
  margin-left: 12.5rem;
  margin-right: 12.5rem;
}

.main--padding {
  padding-left: 8.5rem;
  padding-right: 8.5rem;
}

.main--padding--right-0 {
  padding-right: 0;
}

/* button */
.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
}

/* button default */
.btn-default,
nav .btn-default {
  background: var(--primary-lime-green-04);
  color: var(--neutral-01);
  font-size: var(--text-medium);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 1.25rem;
}

header,
nav,
.hero {
  background-color: #f1f3ff;
}

/* nav link a */
.nav-link {
  text-decoration: none;
  color: var(--primary);
  font-size: var(--text-medium);
  font-weight: var(--font-weight-reguler);
}

.logo {
  width: 6.25rem;
  height: 2.125rem;
  flex-shrink: 0;
  background: var(--primary-dark-blue-04);
}

.gap-hero {
  gap: 2rem;
}

/* mobil size */
.mobil--size {
  max-width: 44rem;
  max-height: 25.5rem;
}
.foto-bg {
  width: inherit;
  height: 60%;
  border-radius: 3.75rem 0px 0px 0px;
  background: var(--primary-dark-blue-04);
}
.mobil-box--size {
  height: 25.5rem;
}

.icon-check {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

/* .why us */
.whyus-card-container {
  gap: 2rem;
}
.whyus-card {
  border-radius: 8px;
  border: 1px solid var(--neutral-02);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
#whyus .row {
  display: flex;
}

/* testimonial */
.testimonial-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* carousel */
.carousel-inner {
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  gap: 2rem;
}
.carousel-item {
  margin: 0;
  max-width: 619px;
}
/* testimonial-item */
.testimonial-item {
  flex-basis: 100%; /* take 100% of initial space */
  flex-shrink: 0; /* do not shrink-to-fit when flex items larger than flex container */
  max-width: 619px;
  min-height: 270px;
  border-radius: 8px;
  background: #f1f3ff;

  /* Shadow/Low */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 69px 32px 69px 46px;
  display: flex;
  gap: 46px;

  align-self: center;
  justify-self: center;
}

.testimonial-item-left {
  align-self: center;
}

.testimonial-item-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.testimonial-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.testimonial-btn button {
  border: 1px solid black;
  background-color: var(--neutral-01);
  border-radius: 50%;
  -webkit-text-stroke: 1px;
  padding: 6px 10px;
  background-color: var(--neutral-01);
}

.testimonial-btn button:hover {
  background-color: #5cb85f;
  color: var(--neutral-01);
}

/* cta */
.cta {
  border-radius: 13px;
  background: var(--primary-dark-blue-04);
  color: var(--neutral-01);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 64px 0px;
}
.cta .p-light {
  max-width: 468px;
  text-align: center;
}
.cta .btn-default {
  margin-top: 52px;
  margin-bottom: 0;
}

/* faq */
.faq-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.row > * {
  width: 100%;
}
.accordion-item {
  margin-bottom: 1rem;
}
.accordion-button {
  border: 1px solid #d4d4d4;
  background: #fff;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 4px;
}

/* footer */
.footer-row {
  justify-content: space-between;
  align-items: start;
  display: flex;
}
.footer-col {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.sm-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sm {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-dark-blue-04);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address,
.copyright--width {
  width: 268px;
}
.mb-footer {
  margin-bottom: 6.25rem;
}

@media (max-width: 768px) {
  .main--padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .main--padding--right-0 {
    padding-right: 0;
  }
  .mobil-box--size {
    height: 199px;
  }
  .mobil--size {
    width: 344.216px;
  }
  .gap-hero {
    gap: 1.5rem;
  }

  .main--margin,
  .main--padding--lr {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .ourservices-foto {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ourservices-foto img {
    width: 252px;
  }

  .mo-center {
    text-align: center;
  }

  .mt-main {
    margin-top: 3.75rem;
  }

  .whyus-card-container {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.75rem !important;
  }

  .cta {
    padding: 4ren;
  }

  .cta .text-hero-bold {
    font-size: var(--header-2);
    text-align: center;
  }

  .cta .btn-default {
    margin-top: 2rem;
  }

  .faq-container {
    flex-direction: column;
  }

  .faq-tittle {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .footer-row {
    flex-direction: column;
  }
  .footer-col {
    margin-bottom: 1rem;
  }

  #ourservices .mt-4 {
    margin-top: 1rem !important;
  }

  .offcanvas.show:not(.hiding),
  .offcanvas.showing {
    width: 11.25rem;
  }
  .offcanvas-header {
    padding: 2.25rem 1.5rem 1.125rem 1rem;
  }
  .offcanvas-body {
    padding: 0;
  }
  .nav-link {
    padding: 0;
  }
  .nav-item {
    padding: 0 0 1rem 1rem !important;
  }

  .testimonial-item {
    flex-basis: 100%;
    gap: 1.5rem;
    flex-direction: column;
    padding: 2.5rem 2rem;
  }
  .testimonial-item-right img {
    margin: 0 auto;
  }
  .testimonial-item-right .p-light {
    margin-bottom: 1.5rem;
  }
  .carousel-inner {
    margin: 1rem;
  }
  .testimonial-item-right .p-light {
    margin: 0;
  }
}
